main > nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

article {
    border: 0.1rem solid #f1b35a;
    border-radius: 0.5rem;
    padding: 1rem;
}

main article img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    display: block;
    border-radius: 0.5rem;
}