body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.6;
    background-color: #f7f3ee;
    color: #2f2f2f;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

main > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

article {
    border: 0.1rem solid #f1b35a;
    border-radius: 0.5rem;
    padding: 1rem;
}

main article img {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

h2 {
    margin-top: 35px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 5px;
}

h3 {
    margin-top: 2px;
}

p {
    margin-bottom: 12px;
}

ul,
ol {
    padding-left: 25px;
}

li {
    margin-bottom: 8px;
}


header img {
    width: 8rem;
    height: auto;
}

main article img {
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}

footer img {
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
}



.social-icon:hover {
    transform: scale(1.1); /* Makes a small zoom effect when hovering over the icon */
}

