body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
    line-height: 1.6;
    background-color: #f7f3ee;
    color: #2f2f2f;
}

header {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}


h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

h2 {
    margin-top: 35px;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 5px;
}

h3 {
    margin-top: 2px;
}

p {
    margin-bottom: 12px;
}

ul,
ol {
    padding-left: 25px;
}

li {
    margin-bottom: 8px;
}


header img {
    width: 8rem;
    height: auto;
}


footer img {
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
}

.social-icon:hover {
    transform: scale(1.1); /* Makes a small zoom effect when hovering over the icon */
}

button {
    padding: 0.6rem 1.1rem;
    background-color: #f59a23;
    color: white;
    border: none;
    border-radius: 0.4rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #d97f0d;
}

